<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Mirror</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body> 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <section id="print">
						
			</section>
        </div>
    </div>
 
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:80');
		
		(function($) {
	          $(function() {
		            socket.on('print', function(message) {
		            	insereMessage(message); 
		            }); 
		            
		     	// Ajoute un message dans la page
		        function insereMessage(message) {
		            $('#print').prepend('<p><strong>' + message + '</strong></p>');
		        }
	          });
         })(jQuery);
        
	</script>
</body>
</html>